@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <h1>@Model.name</h1>
        @{       
            {
                <p>@Model.weather[0].description</p>

                string icon = "http://openweathermap.org/img/wn/" + Model.weather[0].icon + "@2x.png";

                <img src= "@icon"/>
            }
        }
    </div>
