
@{
    ViewData["Title"] = "Weather";
}


    <div class="text-center">
        @{
            if (Model == null)
            {
                <h1>Something went wrong</h1>
            }
            else
            {
                <h1>@Model.name</h1>
                <p>@Model.weather[0].description</p>
                string icon = "http://openweathermap.org/img/wn/" + Model.weather[0].icon + "@2x.png";
                <img src="@icon" />
            }
        }
        <br />
        <input id="city-search" type="text" placeholder="Search..">
    </div>
