@section Scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE-cJNq9CyHprNdBtww_wzdVB-yblzHDI&libraries=places"></script>
    <link rel="stylesheet" href="~/css/index.css" />
}

@{
    ViewData["Title"] = "Weather";
}
@model WeatherInformation


<div class="text-center">
    @{
        if (Model == null)
        {
            <h1>Something went wrong</h1>
        }
        else
        {
            <h1>@Model.name</h1>
            <p>@Model.weather[0].description</p>
            string icon = "http://openweathermap.org/img/wn/" + Model.weather[0].icon + "@2x.png";
            <img src="@icon" />
        }
    }
    <input id="city-search" type="text" placeholder="Search for a city">
    <form asp-controller="Home" asp-action="CitySearch" method="post">
        <input type="hidden" id=city name ="city" value="" />
        <input type="hidden" id=country name ="country" value="" />
        <button type="submit">Submit</button>
    </form>

 

    <script>
        let autocomplete;

        let input = document.querySelector("#city-search");
        window.onload = function initAutoComplete() {
            autocomplete = new google.maps.places.Autocomplete(input, { type: ['geocode'] });

            autocomplete.addListener('place_changed', () => {
                let place = autocomplete.getPlace();
                if (!place.geometry) {
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }
                let location = place.address_components;
                console.log(location[0]);
                console.log(location[location.length - 1]);
               
                document.getElementById("city").value = location[0].short_name;
                document.getElementById("country").value = location[location.length - 1].short_name;


            })
        }


    </script>

</div>
